* {
	border:  0px solid red;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
}

.img-logo{
	height: 95px;
	width: 95px;
}

.link-logo {
	padding: 15%;
}

.divnav {
	padding-top: 8px;
	float: left;
	width: 100%;
}

.center {	
	display: inline-block;
	margin:  auto;
	text-align: center;
}

.divnav li {
	width: 150px;
	text-align: center;	
	border-bottom: 2px solid transparent;
} 

.divdata {
	margin-left: 40%;
}

.center-img {	
	padding-top: 80px;
	text-align: center;
	background: linear-gradient(to top, black 0%, black 50%, white 50%, white 100% );
}

.center-img img {
	border: 3px solid black;
}


.ropa-inicio a {
	display: block;
	text-decoration: none;
	color: black;
	width: 40%;
	padding: 5px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background: white;
}

li:hover {
	color: black;	
	border-bottom: 2px solid black;
	font-weight: bold;
}

.activo {
	font-weight: bold;
	border-bottom: 2px solid black;
}

.limpiar_filtro{
	text-decoration: none;
	background: rgb(248,249,250);
	text-align: center;
	color: black;
	padding: 0.8% 1.8%;
	margin-bottom: 20px;
	border: 1px solid lightgray;
}

.div-limpiar {
	margin-bottom: 15px;
}

.img-filter {
	margin-right: 5px;
}

.ropa-inicio{
	width: 100%;
}

.clear {
	clear: both;
}

.divopc {
	float: right;
}

.centerdiv ul{
	width: 30%;
	margin: auto;
	font-size: 19px;
}

.center li {
	margin: auto;
}

.nav2 {
	font-size: 14px;
	text-align: center;
}

.nav2 ul {
	width: 80%;
}

.divform {
	padding: 20px;
	border: 1px solid black;
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.titulo-form {
	text-align: center;
}

.row {
	width: 100%;
}

.btncontra img, .repbtncontra img {
	width: 25px;
	height: 25px;
	
}

.btncontra, .repbtncontra {
	padding: 5px;
	background: none;
}

.img-registro {
	margin-left: 30px;
	margin-top: 50px;
	width: 85%;
	height: 90%;
	border: 3px solid black;
}	

.divbtnenviar {
	text-align: center;
}

.btnenviar {
	color: white;
	background: black;
	padding: 8px;
	width: 200px;
	font-size: 18px;
}

.btnenviar:hover {
	font-weight: bold;
}

.alerta {
	color: red;
	font-size: 12px;
	font-style: italic;
}

.link-categoria{
	text-decoration: none;
	color: black;
	font-size: 17px;
	padding-left: 45px;

}

.limpiar_filtro:hover {
	background: white;
	border: 1px solid black;
	color: black;
}


.link-categoria:hover {
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.categorias {
	margin-top: 20px;
}

.banner-hombre {
	width: 100%;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-producto {
	width: 100%;
	height: 400px;
}

.productos {
	text-align: center;
}

.div-producto-inicio:hover {
	border: 1px solid lightgray;
	transform: scale(1.1);
	background: white;
	color: black;
}

.div-producto-inicio {
	border: 1px solid white;
	margin: 7%;
}

.div-producto-inicio a {
	text-decoration: none;
	color: black;
}

.div-producto-inicio a:hover {
	color: black;
}

.let_roja {
	color: red;
}

.negrilla {
	font-weight: bold;
}

.titulo-categoria {
	margin-top: 20px;
	padding-left: 45px;
}

.titulo-categoria::first-letter {
	font-size: 40px;
}

.img-prenda {
	width: 100%;
	margin: 10px;
	margin-top: 20px;
	border: 1px solid lightgray;
}

.img-prenda:hover {
	border: 1px solid lightgray;
	transform: scale(1.05);
}

.descripcion {
	margin-top: 20px;
	margin-left: 10px;
}

.especificacion {
	color: gray;
}

.clear {
	clear: both;
}

.anadir-carrito {
	text-decoration: none;
	background: black;
	padding: 10px 100px;
	color: white;
	margin-bottom: 5%;
}

.anadir-center {
	text-align: center;
	margin-top: 30px;
}

.anadir-carrito:hover {
	text-decoration: none;
	background: white;
	color: black;
	border: 1px solid black;
}

.img-categoria {
	width: 15%;
	margin-right: 8px;	
}

.img-editar {
	 position:absolute;
	 top:0px;
	 left:0px;
	 border:none;
	 float: left;
	 margin-top: 1080px;
	 margin-left: 520px;
	 width: 50px;
}

#carrito-container{
	border: 1px solid lightgray;
    width: 400px;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    margin-top: 10px;
    display: none;
    z-index: 999;
}

.carrito-item{
	padding: 5px;
	text-align: center;
}

.container .img-carrito{
	width: 200px;
}

footer {margin-top: 10px;
	padding-top: 3px;
}

.btn-remove {
	padding: 2px;
	border: 1px solid black;
	background-color: white;
	border-radius: 10px;
}

.container {
	margin-top: 10px;
}

.carrito-tittle{
	padding-top: 20px;
	padding-bottom: 20px;
}